<footer class="footer" role="contentinfo">
  <ul>
    <li>Copyright &copy; Oak Technical Services - All Rights Reserved</li>
  </ul>

  <div class="footer-secondary-links">
    <ul class="footer-social">
      <li><a href="javascript:void(0)">
        <img src="{{ site.baseurl }}/assets/dist/img/facebook-logo-circle.png" alt="Facebook">
        </a></li>
      <li><a href="javascript:void(0)">
        <img src="{{ site.baseurl }}/assets/dist/img/twitter-logo-circle.png" alt="Twitter">
      </a></li>
    </ul>
  </div>
</footer>