
  <a class="usa-skipnav" href="#main-content">Skip to main content</a>
  <header class="usa-header usa-header-basic" role="banner">
    <div class="usa-nav-container">
      <div class="usa-navbar">
        <button class="usa-menu-btn">Menu</button>
        <div class="usa-logo" id="logo">
            <a href="{{ site.baseurl }}/" class="ots-logo"><img src="{{ site.baseurl }}/assets/dist/img/logo.png" alt="Oak Technical Services Logo"></a>
        </div>
      </div>
      <nav role="navigation" class="usa-nav">
        <button class="usa-nav-close">
          <img src="{{ site.baseurl }}/assets/dist/img/close.svg" alt="close">
        </button>
        <ul class="usa-nav-primary usa-accordion">
          <li>
            <a class="usa-nav-link" href="{{ site.baseurl }}">
              <span>Home</span>
            </a>
          </li>
          <li>
            <a class="usa-nav-link" href="{{ site.baseurl }}/company/">
              <span>Company</span>
            </a>
          </li>
          <li>
            <a class="usa-nav-link" href="{{ site.baseurl }}/experience/">
              <span>Experience</span>
            </a>
          </li>
          <li>
            <a class="usa-nav-link" href="{{ site.baseurl }}/thoughts/">
              <span>Thoughts</span>
            </a>
          </li>
          <li>
            <a class="usa-nav-link" href="{{ site.baseurl }}/#contact">
              <span>Contact</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="usa-overlay"></div>
  <main id="main-content"></main>
