<!DOCTYPE html>
<!--[if lt IE 9]><html class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->

  <head>
    {% include head.html %}
  </head>

  <body class="page-{{ page.title | slugify }} {% if page.layout == 'demo' %}layout-{{ page.layout | slugify }}{% endif %}">
  {% include navbar.html %}

    {{ content }}

    {% include ie-polyfill-scripts.html %}
    {% include analytics.html %}
    <script src="{{ site.baseurl }}/assets/dist/js/styleguide.js"></script>

  {% include footer.html %}
  </body>

</html>
